
{% extends 'base.html' %}

{% block header-links %}
{% load staticfiles %}
{% load utilities  %}
{% load qr_tags %}
{% load i18n %}
{% load l10n %}
<link rel="stylesheet" href="{% static 'vendor/plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}

{% block content-header %}
<h1>
	{% block header-title %}{% endblock %}
	<small>{% trans 'Overview' %}</small>
</h1>
<ol class="breadcrumb">
	<li><a href="{% url 'main-dashboard' %}"><i class="fa fa-dashboard"></i> {% trans 'Home' %}</a></li>
	<li class="active">{% trans 'WAREHOUSE-ENTRANCE-MANEUVERS' %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h4> {% trans 'Taking inventory' %} </h4>			
			</div>

			<div class="box-body">
				<div class="loader-section">
				</div>
					{% get_product as product_lists %}

					<div class="col-md-12">
						<div class="form-group col-md-5">
							<label> {% trans 'Customer' %}</label>

							<select class="form-control select" id="id_filter_customer">
								<option value="{{object.customer.id}}">{{object.customer.name}}</option>
							</select>				
						</div>
						<div class="form-group col-md-5">
							<label> {% trans 'Producto' %}</label>

							<select class="form-control select"  id="id_filter_product">
								<option value="ALL">Todas</option>
								{% for product in product_lists %}
									<option value="{{product.id}}">{{product.product_code}} -&nbsp; {{product.product_description}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-md-2">
							<label> &nbsp;</label>
							<a class="btn btn-primary add_more_button form-control " role="button">{% trans "Add another" %}</a>
						</div>
					</div>

				<div class="row">
					<div class="col-md-12">
						<table id="data-pallet-list" class="table table-bordered table-striped">
								<thead>
									<tr>									
										<th>{% trans 'Product' %}</th>
										<th>{% trans 'Almacen' %}</th>
										<th>{% trans 'Rack' %}</th>
										<th>{% trans 'Ubicacion' %}</th>
										<th>{% trans 'Lote Tarima' %}</th>
										<th>{% trans 'Lote Cliente' %}</th>
										<th>{% trans 'Peso Bruto' %}</th>
										<th>{% trans 'Peso Neto' %}</th>
										<th>{% trans 'Available Boxes' %}</th>
										<th>{% trans 'Retained boxes' %}</th>
										<th>{% trans 'Physical Gross Weight' %}</th>
										<th>{% trans 'Physical Total boxes' %}</th>
										<th></th>
									</tr>
								</thead>
								<tbody>

									{% for pallet in object.warehouseentrancepallet.all %}
				                        <tr id="{{pallet.id}}">
				                            <td>{{ pallet.werehouse_entrance_confirmation.product.product_description }}</td>
				                            <td>{{ pallet.warehouse }}</td>
				                            <td>{{ pallet.rack_number }}</td>
				                            <td>{{ pallet.location }}</td>
				                            <td>{{ pallet.palet_lot }}</td>
				                            <td>{{ pallet.cost_lot }}</td>
				                            <td>{{ pallet.get_pallet_available_gross_weight | unlocalize }}</td>
				                            <td>{{ pallet.get_pallet_available_net_weight | unlocalize }}</td>
				                            <td class="available_total_boxes">{{ pallet.get_pallet_inventory_available_total_boxes |unlocalize}}</td>
				                            <td class="available_total_boxes">{{pallet.get_pallet_retained_boxes |unlocalize}}</td>
				                            <td class="inventory_total_kg">{{ pallet.get_pallet_inventory_total_kg |unlocalize}}</td>
				                            <td class="inventory_total_boxes">{{ pallet.get_pallet_inventory_total_boxes |unlocalize}}</td>
				                            <td><img class="notice" data-id="{{pallet.id}}" src="{% static 'custom/dashboard/img/exclamation.png' %}" alt="observation"></td>
				                            
				                        </tr>
				                    {%endfor%}
								</tbody>
							</table>
					</div>
				</div>

				<div class="col-md-12">
					<div class="pull-right">
						<input type="button" class="btn btn-primary button_pending" value="{% trans 'Save' %}">
						<input type="button" class="btn btn-success button_confirm" value="{% trans 'Toma finalizada' %}">
						<a href="/maneuver/inventory_taking" class="btn  btn-default">{% trans 'Cancel' %}</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<form class="submit_inventory" action="{% url 'inventory-taking-update' object.id %}" method="POST">
	{% csrf_token %}
		<input type="hidden" class="customer_id" name="customer" value="">

				<select class="form-control product_id hide" multiple="true" name="product">
					{% for product in product_lists %}
						<option value="{{product.id}}">
							{{product.product_description}}
						</option>
					{% endfor %}
				</select>

				<select class="form-control warehouseentrancepallet_id hide" multiple="true" name="warehouseentrancepallet">
					{% for pallet in pallet_lists %}
						<option value="{{pallet.id}}">
							{{pallet.palet_lot}}
						</option>
					{% endfor %}
				</select>

		<input type="hidden" class="total_kg" name="total_kg" value="0">
		<input type="hidden" class="status" name="status" value="pending">
	</form>
</div>

<div class="modal fade" id="scan_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document" style="width: 80%;">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{%trans 'CONFIRM PALLET' %}</h4>
			</div>
			<div class="modal-body" align="center">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-3 col-sm-3 pallet_qr_image">
								<a href="javascript:void(0)">{% qr_from_text "NoPaletllet" size=100 %}</a>
							</div>
							<div class="col-md-4 col-sm-4 scanner-pallet">

							</div> 

							<div class="col-md-4 col-sm-4 form-group">
								<label>QR</label>
								<textarea rows="6" class="form-control scanned-data" cols="60"></textarea>
								<span class="scanned-data-error"></span>
								<input type="button" class="btn btn-success manual_submit_button" value="Envio manual" style="margin-top: 20px;">
							</div>

						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table  class="data-table table table-bordered table-striped">
								<thead>
									<tr>
										{% block list-header-columns %}
										<th>{% trans 'Product' %}</th>
										<th>{% trans 'Almacen' %}</th>
										<th>{% trans 'Rack' %}</th>
										<th>{% trans 'Ubicacion' %}</th>
										<th>{% trans 'Lote Tarima' %}</th>
										<th>{% trans 'Lote Cliente' %}</th>
										<th>{% trans 'Peso Bruto' %}</th>
										<th>{% trans 'Peso Neto' %}</th>
										<th>{% trans 'Available Boxes' %}</th>
										<th>{% trans 'Retained boxes' %}</th>
										<th>{% trans 'Physical Gross Weight' %}</th>
										<th>{% trans 'Physical Total boxes' %}</th>
										{% endblock %}
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					{% if object.is_qr_disable%}
						<a href="javascript:void(0)" class="enable_manualy">Confirmación Manual</a> &nbsp;
					{%endif%}
					<button type="button" class="btn btn-primary" id="update_pallet_info">{% trans 'Save' %}</button>
					<button type="button" class="btn btn-default"  data-dismiss="modal">{% trans 'Cancel' %}</button>
				</div>
			</div>              
		</div>
	</div>
</div>
<div class="modal fade" id="observation_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document" style="width: 80%;">
		<div class="modal-content">
			<div class="modal-body" align="center">
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="data-table table table-bordered table-striped">
								<thead>
									<tr>
										{% block obser-header-columns %}
										<th>{% trans 'Product' %}</th>
										<th>{% trans 'Almacen' %}</th>
										<th>{% trans 'Rack' %}</th>
										<th>{% trans 'Ubicacion' %}</th>
										<th>{% trans 'Lote Tarima' %}</th>
										<th>{% trans 'Expiration Date' %}</th>
										<th>{% trans 'Lote Cliente' %}</th>
										<th>{% trans 'Peso Bruto' %}</th>
										<th>{% trans 'Peso Neto' %}</th>
										<th>{% trans 'Available Boxes' %}</th>
										<th>{% trans 'Retained boxes' %}</th>
										<th>{% trans 'Physical Gross Weight' %}</th>
										<th>{% trans 'Physical Total boxes' %}</th>
										{% endblock %}
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
					<div class="row">
					<div class="col-md-12">
						<div class="col-md-8">
							<label>OBSERVACION REGISTRAR EN TOMA DE INVENTARIO</label>
							<textarea name="observation" rows="5" cols="70" class="observation_note form-control" value=""></textarea>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-sm-12 form-group">
									<label for="total_boxes">{% trans "Fisico" %}</label>
									<input type="text" name="total_boxes" class="form-control inv_total_boxes" maxlength="255">									
								</div>
							</div>
							<div class="row">
								
								<div class="col-sm-6 form-group">
									<label for="total_kg">{% trans "Total Kg" %}</label>
									<input type="text" name="total_kg" id="total_kg" class="form-control inv_total_kg" maxlength="255">									
								</div>
								<div class="col-sm-6 form-group">
									<label for="total_kg">&nbsp;</label>
									<input type="button" class="btn btn-success form-control check_romaneo" value="{% trans 'ROMANEO' %}">	
								</div>
							</div>

						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary save_observation">{% trans 'Save' %}</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
				</div>
			</div>              
		</div>
	</div>
</div>


<div class="modal fade" id="new_observation_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document" style="width: 80%;">
		<div class="modal-content">
			<div class="modal-body" align="center">
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="data-table table table-bordered table-striped">
								<thead>
									<tr>
										<th>{% trans 'Product' %}</th>
										<th>{% trans 'Almacen' %}</th>
										<th>{% trans 'Rack' %}</th>
										<th>{% trans 'Ubicacion' %}</th>
										<th>{% trans 'Lote Tarima' %}</th>
										<th>{% trans 'Expiration Date' %}</th>
										<th>{% trans 'Lote Cliente' %}</th>
										<th>{% trans 'Peso Bruto' %}</th>
										<th>{% trans 'Peso Neto' %}</th>
										<th>{% trans 'Available Boxes' %}</th>
										<th>{% trans 'Retained boxes' %}</th>
										<th>{% trans 'Physical Gross Weight' %}</th>
										<th>{% trans 'Physical Total boxes' %}</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
					<div class="row">
					<div class="col-md-12">
						<div class="col-md-8">
							<label>REGISTRAR OBSERVACIÓN EN TOMA DE INVENTARIO</label>
							<textarea name="observation" rows="5" cols="70" class="observation_note form-control" value=""></textarea>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-sm-12 form-group">
									<label for="total_boxes">{% trans "Fisico" %}</label>
									<input type="text" name="total_boxes" class="form-control inv_total_boxes" maxlength="255">									
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<label for="total_kg">{% trans "Total Kg" %}</label>
									<input type="text" name="total_kg" id="total_kg" class="form-control inv_total_kg" maxlength="255">									
								</div>
							</div>

						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary save_observation">{% trans 'Save' %}</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
				</div>
			</div>              
		</div>
	</div>
</div>

<!-- Romaneo modal -->
<div id="pallet_romaneo" class="modal fade" role="dialog" width="90%;" aria-labelledby="myModalLabel"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog romaneo-peso-modal" data-backdrop="false" style="width: 80% !important;">
    <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal">&times;</button>
	      <h4 class="modal-title">ROMANEO-PESO VARIABLE</h4>
	    </div>
	    <div class="modal-body">
	        <table id="romaneo-table" class="table table-bordered table-striped">
				<thead>
					<tr>
						
						<th>{% trans 'Product' %}</th>
						<th>{% trans 'Almacen' %}</th>
						<th>{% trans 'Rack' %}</th>
						<th>{% trans 'Ubicacion' %}</th>
						<th>{% trans 'Lote Tarima' %}</th>
						<th>{% trans 'Lote Cliente' %}</th>
						<th>{% trans 'Peso Bruto' %}</th>
						<th>{% trans 'Peso Neto' %}</th>
						<th>{% trans 'Available Boxes' %}</th>
						<th>{% trans 'Retained boxes' %}</th>
						<th>{% trans 'Physical Gross Weight' %}</th>
						<th>{% trans 'Physical Total boxes' %}</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>	
	      <input type="hidden" readonly="true" class="romaneo_pallet_id form-control">
	      <div class="box_peso_veriable">
	        <div class="col-md-12 box_peso_veriable_apend">

	        </div>        
	      </div>

	      <div class="modal-footer">          
	        <label class="label label-info error-msg"></label>
	        <button type="button" class="btn btn-primary romaneo_submit">{% trans 'Save' %}</button>
	        <button type="button" class="btn btn-default romaneo_cancel">{% trans 'Cancel' %}</button>
	      </div>
	    </div>

	  </div>
	</div>
</div>
<script src="{% static 'custom/warehouse_operator/js/instascan.min.js' %}"></script>

<style type="text/css">
	.loader-image{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 9;  }
	.loader-image img{ position: absolute; top: 50%; left: 50%; width:100px;  }		
</style>

<style type="text/css">	
	#scanner-preview1 {
	    width: 100%;
	    margin: auto;
	    display: block;
	    border-style: inset;
	    padding: 0px;
	    border: solid 1px #ddd;
	    border-radius: 8px;
	    box-shadow: 0px 6px 6px rgba(0,0,0,0.15);
	}
	
</style>

{% endblock %}

{% block scripts %}
<script src="{% static 'vendor/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'custom/maniobras/inventory-taking-add.js' %}"></script>

<script type="text/javascript">
		var scanner1;
		var scaned_warehouse = false
		var scaned_palet = false
		var product_ids = []
    	var scanned_product_ids = {{object.get_product_ids}}
    	var scanned_palet_ids = {{object.get_pallet_ids}}
		
    	$(".enable_manualy").click(function(){
			$("#update_pallet_status").removeAttr('disabled')
		})
		
		$(".pallet_qr_image").click(function(){
			var modal = $(this).closest('.modal')
			scan_palet(modal)
		})

		function scan_palet(modal){
			if (scanner1 !=  undefined){
				scanner1.stop()			
			}
			modal.find(".scanner-pallet").empty()
			$(".scanner-pallet").append('<video id="scanner-preview1"></video>')
			scanner1 = new Instascan.Scanner({
				video: document.getElementById('scanner-preview1')
			});
			scanner1.addListener('scan',function(content){
				modal.find(".scanned-data").val(content)
				customer = $("#id_filter_customer").val()
				product = $("#id_filter_product").val()
				content = JSON.parse(content)
				scan_palet_id = content["palet_id"]
				scan_client = content["client_id"]
				scan_product = content["product_id"]
				tarima = content["LOTETar"]
				product_val = -1
				if(product == "ALL"){
					product_val = jQuery.inArray(parseInt(scan_product), product_ids)
				}else{
					if (scan_product == parseInt(product)) {
						product_val = 1
					}else{
						product_val= -1
					}
				}

				already = jQuery.inArray(parseInt(scan_palet_id), scanned_palet_ids)
				if(already <0 ){
					if ((product_val != -1) && (parseInt(scan_client)==parseInt(customer) )) {
										calculate_available_product_weight(scan_palet_id, modal)
									}
									else{
										alert("El QR no pertenece al cliente o a los productos seleccionados.")
									}
								}
					else{
						alert("El pallet "+ tarima +" ya ha sido escaneado.")
					}

				modal.find(".scanned-data").val('')
			})





		Instascan.Camera.getCameras().then(cameras=>{
			if (cameras.length > 0){
				if (cameras[1]){
					scanner1.start(cameras[1])
				}
				else{
					scanner1.start(cameras[0])
				}
				
			} else{
				console.log("no camera found")
			}
		})
	}
    	
    	$(".add_more_button").click(function(){
    		customer = $("#id_filter_customer").val()
    		product = $("#id_filter_product").val()
    		if ((customer !="") && (product != "")){
    			$("#scan_modal").modal("show")
    		}else{
    			alert("por favor seleccione la opción de filtro")
    		}
    	})

    

		customer_product()
    	function customer_product() {
    		product_ids =[]
    		jQuery.ajax( {
    			url: "/warehouse_entrance/customer-products/"+$("#id_filter_customer").val(),
    			type: "GET",
    			dataType: "json",
    		} ).done( function( response ) {
    			products = response
    			prod_select = $("#id_filter_product")
    			selected = prod_select.val()
    			prod_select = prod_select.empty()
    			prod_select.append('<option value="ALL">Todas</option>')

    			products.forEach(function(product) {
    				console.log(product)
    				product_ids.push(product['id'])
    				if(selected == product['id']){
    					prod_select.append('<option value="'+product['id']+'selected="selected">'+ product.product_code + " "  +product.product_description+'</option>')
    				}
    				else{
    					prod_select.append('<option value="'+product['id']+'">'+ product.product_code+ " " +product.product_description+'</option>')  

    				}
    			})
    		})
    	}

    	$("#update_pallet_info").click(function(){
    		var modal = $(this).closest('.modal')
    		data_row = []
    		modal.find(".data-table tbody tr").each(function(v){ data_row.push($(this).find('td').map(function(){ return $(this).html() }).get() ) })
    		if(data_row.length > 0){
    			dataTable.rows.add(data_row).draw();
	    		dataTable.order([1, 'asc']).draw();
	     		dataTable.page('last').draw(false);
    		}
    		$("#scan_modal").modal("hide")
    	})

    	$(".button_pending").click(function(){
    		$(".status").val('pending')
    		submit_data()
    	})
    	$(".button_confirm").click(function(){
    		$(".status").val('finish')
    		submit_data()
    	})

    	function submit_data() {
    		customer = $("#id_filter_customer").val()
    		if((scanned_product_ids.length !=0)&& (scanned_palet_ids.length !=0) && customer!=""){
    			$('.warehouseentrancepallet_id').val(scanned_palet_ids)
    			$('.product_id').val(scanned_product_ids)
    			$(".customer_id").val(customer)
			$(".submit_inventory").submit()
    		}
    		else{
    			alert("Por favor escanee primero")
    		}
    	}

    	$(".manual_submit_button").click(function(){
    		var modal = $(this).closest('.modal')
    		scanned_manual(modal)
    	})

    	$(".scanned-data").keypress(function(event){
		    var keycode = (event.keyCode ? event.keyCode : event.which);
		    if(keycode == 13){
		        var modal = $(this).closest('.modal')
    			scanned_manual(modal)
		    }	
		})

    	function scanned_manual(modal){
    		scanned_data = modal.find(".scanned-data").val()
    		console.log(scanned_data)
    		if (scanned_data !="") {

    			var jdata = null;
    			try
    			{
    				jdata = $.parseJSON(scanned_data);  
    			}catch(e)
    			{}

    			if(jdata)
    			{
    				button_perform(jdata, modal)
    				modal.find(".scanned-data-error").text("")
    			}else
    			{
    				modal.find(".scanned-data-error").text("Codigo QR incorrecto. Por favor verifique")
    			}

    		}else{
    			modal.find(".scanned-data-error").text("")
    			
    		}
    	}

    	function button_perform(content, modal){
    		customer = $("#id_filter_customer").val()
    		product = $("#id_filter_product").val()
    		scan_palet_id = content["palet_id"]
    		scan_client = content["client_id"]
    		scan_product = content["product_id"]
    		tarima = content["LOTETar"]

    		product_val = -1
    		if(product == "ALL"){
    			product_val = jQuery.inArray(parseInt(scan_product), product_ids)
    		}else{
    			if (scan_product == parseInt(product)) {
    				product_val = 1
    			}else{
    				product_val= -1
    			}
    		}

    		already = jQuery.inArray(parseInt(scan_palet_id), scanned_palet_ids)
    		if(already <0 ){
    			if ((product_val != -1) && (parseInt(scan_client)==parseInt(customer) )) {
    				calculate_available_product_weight(scan_palet_id, modal)
    				modal.find(".scanned-data").val('')
					modal.find(".scanned-data").focus()
    			}
    			else{
    				alert("El QR no pertenece al cliente o a los productos seleccionados.")
    			}
    		}
    		else{
    			// alert("Este producto ya está escaneado.")
    			alert("El pallet "+ tarima +" ya ha sido escaneado.")
    		}
    	}

		function calculate_available_product_weight(scan_palet_id, modal){
			jQuery.ajax({
				url: "{% url 'get-pallet-detail' 0 %}".replace("0",scan_palet_id),
				type: "GET",
				dataType: "json" 
			} ).done( function( response )
			{
				if (response.code==200) {
					pallet_info = response.pallet_info
					console.log(pallet_info)
					confirmation= pallet_info.werehouse_entrance_confirmation
					product_id= pallet_info.product_id
					scanned_product_ids.push(parseInt(product_id))
					scanned_palet_ids.push(parseInt(scan_palet_id))
					row = '<tr>\
					<td>'+pallet_info.product_description+'</td>\
					<td>'+pallet_info.warehouse_name+'</td>\
					<td>'+pallet_info.warehouse_number+'</td>\
					<td>'+pallet_info.warehouse_location_number+'</td>\
					<td>'+pallet_info.palet_lot+'</td>\
					<td>'+pallet_info.cost_lot+'</td>\
					<td>'+pallet_info.available_gross_weight+'</td>\
					<td>'+pallet_info.available_net_weight+'</td>\
					<td class="available_total_boxes">'+pallet_info.inventory_available_total_boxes.toFixed(0)+'</td>\
					<td class="retained_boxes">'+pallet_info.retained_boxes.toFixed(0)+'</td>\
					<td class="inventory_total_kg">'+pallet_info.inventory_total_kg+'</td>\
					<td class="inventory_total_boxes">'+pallet_info.inventory_total_boxes.toFixed(0)+'</td>\
					<td> <img class="notice" src="{% static "custom/dashboard/img/exclamation.png" %}" alt="observation" data-id="'+pallet_info.id+'></td></tr>'
					modal.find(".data-table tbody").prepend(row)
				}				    	
			})
		}

 
	 $("#sidebar-warehouse").addClass("active");


	 $("textarea").keyup(function(e) {
	 	var modal = $(this).closest('.modal')
	    var code = e.keyCode ? e.keyCode : e.which;
	    if (code == 13) {
	        scanned_manual(modal)
	    }
	});

	$(document).on("click",".notice", function(){
		$("#data-pallet-list").find('tr').removeClass('active_p')
		var pallet_id = $(this).attr("data-id")
		var boxes, row;
		$(this).closest("tr").addClass('active_p')
		var modal = $(this).closest('.modal')
		if(modal.length == 0){
			modal = $('#observation_modal')
		}
		modal.find(".data-table tbody").empty()
		jQuery.ajax({
				url: "{% url 'get-pallet-detail' 0 %}".replace("0",pallet_id),
				type: "GET",
				dataType: "json"
			} ).done( function( response )
			{

				if (response.code==200) {
					pallet_info = response.pallet_info
					boxes = pallet_info.inventory_total_boxes.toFixed(0)
					row = '<tr id="'+pallet_info.id+'" readonly="readonly">\
					<td>'+pallet_info.product_description+'</td>\
					<td>'+pallet_info.warehouse_name+'</td>\
					<td>'+pallet_info.warehouse_number+'</td>\
					<td>'+pallet_info.warehouse_location_number+'</td>\
					<td>'+pallet_info.palet_lot+'</td>\
					<td>'+pallet_info.exp_date+'</td>\
					<td>'+pallet_info.cost_lot+'</td>\
					<td>'+pallet_info.available_gross_weight+'</td>\
					<td>'+pallet_info.available_net_weight+'</td>\
					<td class="available_total_boxes">'+pallet_info.inventory_available_total_boxes.toFixed(0)+'</td>\
					<td class="retained_boxes">'+pallet_info.retained_boxes.toFixed(0)+'</td>\
					<td class="inventory_total_kg">'+pallet_info.inventory_total_kg+'</td>\
					<td class="inventory_total_boxes">'+pallet_info.inventory_total_boxes.toFixed(0)+'</td>\
					</tr>'
					modal.find(".data-table tbody").append(row)
					modal.find('.observation_note').val(pallet_info.note)
					modal.find('.inv_total_boxes').val(pallet_info.inventory_total_boxes.toFixed(0))
					modal.find('.inv_total_kg').val(pallet_info.inventory_total_kg.toFixed(2))
				}	

			})

		modal.modal("show")
		$('.check_romaneo').unbind('click').click(function(){
			$("#pallet_romaneo").find("#romaneo-table tbody").empty()
			$("#pallet_romaneo").find("#romaneo-table tbody").prepend(row)

			jQuery.ajax( {
			    url: "{% url 'get-inventory-peso-variable' 0 %}".replace('0', pallet_id),
			    type: "GET",
			    dataType: "json",
			  } ).done( function( response )
			  {
			  	console.log(response)
			  	$(".box_peso_veriable").find('.box_peso_veriable_apend').empty()
			  	set_romaneo_variables(response, boxes, pallet_id, modal)
			  })
			$("#pallet_romaneo").modal('show')
		})
	})
	
	function set_romaneo_variables(response, romaneo_cajas_count, pallet_id, modal){
		  peso_html=""
	      if (response.code == 200) {
	        if(romaneo_cajas_count >= response.data.length){
	          response.data.forEach(function(item){
	            peso_html = "<div class='col-md-2'><div class='form-group'><input type='number' min='0' onkeypress='return checkDecimal(event, this, 5, 2);' class='romaneo_peso_variable form-control' value="+ item.peso_variable_quantity +"  data-peso-variable="+ item.id +"></div></div>"+peso_html
	          })
	          
	          remaining_cajas=romaneo_cajas_count-response.data.length
	          for (i = 0; i < remaining_cajas; i++) { 
	            peso_html = "<div class='col-md-2'><div class='form-group'><input type='number' min='0' onkeypress=' return checkDecimal(event, this, 5, 2);' class='romaneo_peso_variable form-control' value='0.0' data-peso-variable=''></div></div>"+peso_html
	          }  

	         }
	        else if(romaneo_cajas_count < response.data.length){
	            peso_variables = response.data.slice(0, romaneo_cajas_count);
	            peso_variables.forEach(function(item){
	              peso_html = "<div class='col-md-2'><div class='form-group'><input type='number' min='0' onkeypress='return checkDecimal(event, this, 5, 2);' class='romaneo_peso_variable form-control' value="+ item.peso_variable_quantity +"  data-peso-variable="+ item.id +"></div></div>"+peso_html
	            })
	          }

	      }
	      else{  
	        for (i = 0; i < romaneo_cajas_count; i++) { 
	          peso_html = "<div class='col-md-2'><div class='form-group'><input type='number' min='0' onkeypress=' return checkDecimal(event, this, 5, 2);' class='romaneo_peso_variable form-control' value='0.0' data-peso-variable=''></div></div>"+peso_html
	        }  
	      }
	      $(".box_peso_veriable").find('.box_peso_veriable_apend').append(peso_html)
	      $('.romaneo_peso_variable:first').select();
	      $('.romaneo_peso_variable:first').focus()

	      $(document).unbind('change').on('change', function(){
	      	var total_peso_variable = $(".box_peso_veriable").find('.box_peso_veriable_apend').find(".romaneo_peso_variable")
	      	var peso_variable_quantity = 0
	      	total_peso_variable.each(function(){
		  		peso_variable_quantity += parseFloat($(this).val())
		  	})
		  	$("#pallet_romaneo").find("#romaneo-table tbody").find('.inventory_total_kg').text(peso_variable_quantity)
	      }) 
	    $(".romaneo_submit").unbind('click').click(function(){
		  var total_peso_variable = $(".box_peso_veriable").find('.box_peso_veriable_apend').find(".romaneo_peso_variable")
		  var peso_variable_data = []
		  var peso_variable_quantity = 0
		  total_peso_variable.each(function(){
		  	peso_variable_quantity += parseFloat($(this).val())
		    peso_variable_data.push({
		      "peso_variable_quantity": $(this).val(),
		      "id": $(this).attr('data-peso-variable'),
		      "werehouse_entrance_pallet": pallet_id
		    }) 
		  })
		  $.ajax({
		          url: "{% url 'save-inventory-peso-variable' 0 %}".replace('0', pallet_id),
		          type: "POST",
		          dataType: "json",
		          data: {'data':JSON.stringify(peso_variable_data)},
		           
		      }).done( function( response )
		      { 
		          if(response.code == 200){
		          	modal.find(".data-table tbody").find('.inventory_total_kg').text(peso_variable_quantity)
		          	$("#total_kg").val(peso_variable_quantity).trigger('keyup')
		            Swal.fire('Romaneo Peso Variable',response.message,'success')
		            $('.romaneo_cancel').trigger('click')
		          }else{
		            Swal.fire('Romaneo Peso Variable',response.message,'info')
		          }
		          
		      })
		})  
	}

	$(document).on("click",".save_observation", function(){
		var modal = $(this).closest('.modal')
		var pallet = modal.find(".data-table tbody").find("tr").attr("id")
		var note = modal.find(".observation_note").val()
		var total_boxes = modal.find('.inv_total_boxes').val()
		var total_kg = modal.find('.inv_total_kg').val()
		$.ajax({
	          url: "{% url 'update-pallet-note' %}",
	          type: "POST",
	          dataType: "json",
	          data: {
	              pallet:pallet,
	              note:note,
	              total_boxes:total_boxes,
	              total_kg:total_kg
	          },
	          
	      }).done( function( response )
	      {
	      	console.log(response)
	        if (response["code"] == "200") {

	           $("#data-pallet-list").find('tr.active_p').find('td:eq(11)').text(total_boxes)
	           $("#data-pallet-list").find('tr.active_p').find('td:eq(10)').text(total_kg)
	           	
	           modal.modal("hide")
	        }else{
	        	Swal.fire('Error', response["message"])
	        }
	        
	      })
	        
	});

	
	$("#sidebar-maneuvers").addClass("active");
    $("#sidebar-maneuvers .inventory").addClass('active')
	</script>

{% endblock %}

