{% extends 'base.html' %}

{% block header-links %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
<link rel="stylesheet" href="{% static 'vendor/plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}

{% block content-header %}
<h1>
    {% block header-title %}{% trans 'AJUSTES A INVENTARIO' %}{% endblock %}
</h1>
<ol class="breadcrumb">
  <li><a href="{% url 'main-dashboard' %}"><i class="fa fa-dashboard"></i> {% trans 'Home' %}</a></li>  
  <li class="active">{% trans 'AJUSTES A INVENTARIO' %}</li>
</ol>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-xs-12">
            <div class="box"> 

            <div class="box-header">
                <!-- <h4> {% trans 'ENTRADAS RESUMIDO' %} </h4> -->
                <div class="col-md-6 pull-right">

                <form class="pull-right excel-generate" id="generate_report_form" style="margin-left: 14px;">
                    {% csrf_token %}
                    <input type = "submit" class="btn btn-primary" href="javascript:void(0)" value="{% trans "WAREHOUSE ENTRY REPORT" %}">
                    <input type="hidden" id="ids_list" value="[]" name="ids_list">
                </form> 

                <form class="pull-right" id="generate_pdf_form">
                  {% csrf_token %}
                  <input type = "submit" class="btn btn-primary" href="javascript:void(0)" value="{% trans "GENERATE PDF" %}">
                  <input type="hidden" id="pdf_ids_list" value="[]" name="pdf_ids_list">
                </form>              
            </div>
            </div>

            <div class="box-body">
                <form id="warehouse_inventory_search" role="form" method="post">
                    {% csrf_token %}
                <div class="row">
                    <div class="form-group col-md-2">
                        <label>{% trans 'Source Warehouse' %}</label>
                        <select class="form-control warehouse" name="warehouse">
                            <option value="">Seleccione...</option>
                            {% for warehouse in warehouses %}
                            <option value="{{warehouse.id}}">{{warehouse.code}}</option>
                            {% endfor %}
                        </select>                

                    </div> 
                    <div class="form-group col-md-2">
                        <label>{% trans 'Source Location' %}</label>
                        <select class="form-control warehouse_location" name="warehouse_location">
                            <option value="">Seleccione...</option>
                            {% for location in locations %}
                            <option value="{{location.id}}">{{location.location_number}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label>{% trans 'Fecha Inicial' %}</label>
                        <input type="text" name="start_date" class="form-control start_date">
                    </div>

                    <div class="form-group col-md-2">
                        <label>{% trans 'Fecha Final' %}</label>
                        <input type="text" name="end_date" class="form-control end_date">
                    </div>

                    <div class="col-md-4" style="margin-top: 24px;">
                        <button  class="btn btn-primary" type="button" id="inventory_search_submit">{% trans 'Search' %}</button>
                        <button  class="btn btn-default" type="reset" id="inventory_search_clear">{% trans 'Clean' %}</button>
                    </div>
                </div>
            </form>
                <table id="data-table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            {% block list-header-columns %}   
                                <th>{% trans 'Customer' %}</th>
                                <th>{% trans 'Product' %}</th>
                                <th>{% trans 'Kg Totales' %}</th>
                                <th>{% trans 'Cajas' %}</th>
                                <th>{% trans 'Cajas Retenidas' %}</th>
                            {% endblock %}
                        </tr>
                    </thead>
                    <tbody>
                        <!-- {% for warehouse_inventory in warehouseinventory_list %}
                        <tr>
                            <td>{{ warehouse_inventory.client }}</td>
                            <td>{{ warehouse_inventory.product }}</td>
                            <td>{{ warehouse_inventory.total_kg | unlocalize }}</td>
                            <td>{{ warehouse_inventory.total_boxes | unlocalize }}</td>
                            <td>{{ warehouse_inventory.retained_boxes | unlocalize }}</td>
                           
                            <td>
                                <a role="button" href="{% url 'warehouse-inventory-edit' warehouse_inventory.id %}" class="btn btn-success"><i
                                    class="fa fa-edit"></i></a>
                                </td>
                            
                            </tr>
                            {% endfor %} -->
                        </tbody>                       

                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
    <script src="{% static 'vendor/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
    <script>
      $('#sidebar-reports').addClass('active')
        $('.inventory_log').addClass('active')
  var datatable =  $("#data-table").DataTable({
    "language": {
      "sProcessing":     "Procesando...",
      "sLengthMenu":     "Mostrar _MENU_ registros",
      "sZeroRecords":    "No se encontraron resultados",
      "sEmptyTable":     "Ningún dato disponible en esta tabla",
      "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix":    "",
      "sSearch":         "Buscar:",
      "sUrl":            "",
      "sInfoThousands":  ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
        "sFirst":    "Primero",
        "sLast":     "Último",
        "sNext":     "Siguiente",
        "sPrevious": "Anterior"
      },
      "oAria": {
        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    }
  });

    $("#inventory_search_submit").click(function(){
     filter_inv_log()
    })

    function filter_inv_log() {
       $.post("{% url 'filter-inventory-log' %}", 
        $("#warehouse_inventory_search").serialize(), function(response) {
        ids = []

        if (response.length > 0){
          var dataSet = response.map(function(inventory_log){
            ids.push(inventory_log.id)
            return [
            inventory_log.customer_data,
            inventory_log.product_data,
            inventory_log.total_kg,
            inventory_log.total_boxes,
            inventory_log.retained_boxes
            ]})
          $("#ids_list").val(JSON.stringify(ids))
          $("#pdf_ids_list").val(JSON.stringify(ids))
          datatable.clear();
          datatable.rows.add(dataSet);
          datatable.draw();
        }
        else{           
          datatable.clear();
          datatable.draw();
        }

      })
    }


    $("select.warehouse").change(function(){
    if($(this).val() != ''){
      $.get("{% url 'warehouse-locations' 0 %}".replace('0', $(this).val() ), function(data, status){
        if(status == 'success'){
          $("select.warehouse_location").empty()
          select = $("select.warehouse_location")
          select.append('<option value="" selected="selected">Seleccione...</option>')
          data.forEach(function(location) {
            select.append('<option value="'+location['id']+'">' +location['location_number']+'</option>')
          })
        }
      });
    }
    else{
      $("select.warehouse_location").empty()
    }

  })

    $('.start_date').datepicker({ 
      format: 'yyyy-mm-dd'
    }).on('changeDate', function(){

      $('.end_date').datepicker('setStartDate', new Date($(this).val()));

      $('.end_date').val($(this).val())
    }); 

    $('.end_date').datepicker({
       format: 'yyyy-mm-dd'
    }).on('changeDate', function(){
     
      $('.start_date').datepicker('setEndDate', new Date($(this).val()));
    });

$("#generate_pdf_form").submit(function(event){
        
        event.preventDefault();
        $.LoadingOverlay('show', {text: 'Procesando Petición...'})
        var data = new FormData($(this)[0]);
        $.ajax({
                      url: "{% url 'generate_inv_log_pdf' %}",
                      type: "POST",
                      data:data,
                      contentType:false,
                      processData:false,
                      success: function( response ) {
                          console.log(response)
                          if(response.code == 200){
                            var lem = document.createElement('a')
                            lem.href = "/media"+response.file
                            lem.setAttribute('download', "")
                            lem.click()
                          }else{
                            alert("No hay información a generar.")
                          }
                          $.LoadingOverlay('hide')
                        }
                    })
    });
      $("#generate_report_form").submit(function(event){
        
        event.preventDefault();
        $.LoadingOverlay('show', {text: 'Procesando Petición...'})
        var data = new FormData($(this)[0]);
        $.ajax({
                      url: "{% url 'generate_inv_log_report' %}",
                      type: "POST",
                      data:data,
                      contentType:false,
                      processData:false,
                      success: function( response ) {
                          console.log(response)
                          if(response.code == 200){
                            var lem = document.createElement('a')
                            lem.href = "/media"+response.file
                            lem.setAttribute('download', "")
                            lem.click()
                          }else{
                            alert("No hay información a generar.")
                          }
                          $.LoadingOverlay('hide')
                        }
                    })
    });
</script>
{% endblock %}


