{% extends 'base.html' %}
{% block header-links %}
{% load staticfiles %}
{% load i18n %}
{% endblock %}

{% block content-header %}
<h1>
  <small>{% block header-subtitle %}{% endblock %}</small>
</h1>
<ol class="breadcrumb">
  <li><a href="{% url 'main-dashboard' %}"><i class="fa fa-dashboard"></i> {% trans 'Home' %}</a></li>
  <li><a href="{% url 'warehouse-exit-list' %}">{% trans 'WAREHOUSE-EXIT-APPOINTMENTS' %}</a></li>
  <li class="active">{%trans "New" %}</li>
</ol>
{% endblock %}



<!-- <a href="{% url 'packaging-list' %}"></a> -->

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <table class="hide">
           <tr data-role="w-product-measurment-row" class="tr_body empty-form">
               {% for field in w_exit_product_measurment_form.empty_form %}
                 {% if not field.is_hidden %}
                   <td>
                     {{ field }}
                   </td>
                 {% endif %}
             {% endfor %}
           </tr>
         </table>

      <form id="sga-form" role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="box-header with-border">
        <div class="pull-right">
        {% if request.user.is_authenticated and request.user.is_staff %} 
        <button type="button" class="btn-success btn btn-lg" id="save_continue">Guardar y Continuar</button>
        {% endif %}
        {{form.save_continue}}
        <input type="submit" name="status" class="btn btn-primary btn-lg" value="{% trans 'Save' %}" id="sga-form-submit">
        
        <a href="/warehouse_exit/warehouse-exit-list" class="btn btn-lg  btn-default">{% trans 'Cancel' %}</a>
        </div>
      </div>
      
        
        <div class="box-body">
          <div class="row">            
            {% include 'form-error.html' %}
            <div class="form-group col-md-6">
              <label>{% trans 'Customer' %}</label>

              <div>                
                <select class="form-control customer" id="id_customer" name="customer" required=""> 
                  <option value="">Seleccione...</option>                  
                  {% for client in customers %}
                  <option value="{{client.id}}">{{client.name}}</option>
                  {% endfor %}
                </select>
              </div>
              
            </div>

            <div class="form-group col-md-3">
              <label for="exit_date">{% trans 'Exit Date' %}</label>
              <input type="text" class="form-control" id="exit_date" name="exit_date" value="{{exit_date}}" required>
            </div>
            <div class="form-group input-group bootstrap-timepicker timepicker">
              <label for="exit_hour">{% trans 'Exit Hour' %}</label>
              <input type="text" class="form-control input-small" id="exit_hour" name="exit_hour" value="{{exit_hour}}" required>
            </div>
          </div>

          <div class="row">
              <div class="col-xs-12 product_measurment_form_management_form">
                 {{ w_exit_product_measurment_form.management_form }}




               <table data-role="w-product-measurment" class="table table-bordered measurement_table">
                 <tr>
                   <th>{% trans 'Product Code' %}</th>
                   <th>{% trans 'Description' %}</th>
                   <th>{% trans 'Total Kg' %}</th>
                   <th>{% trans 'Prices' %}</th>
                   <th>{% trans 'Kg Per Price' %}</th>
                   <th>{% trans 'Boxes' %}</th>
                   <th>{% trans 'Kg Per Box' %}</th>
                   <th>{% trans 'Delete' %}</th>
                 </tr>

                 {% for form in w_exit_product_measurment_form.forms %}
                   <tr data-role="w-product-measurment-row" class="tr_body">
                     {{ form.id }}
                     {{ form.description.errors }}
                     {{ form.description.label_tag }}
                     {{ form.description }}
                     {% for field in form %}
                     {% if not field.is_hidden %}
                       <td>
                         {{ field }}
                       </td>
                     {% endif %}
                     {% endfor %}
                   </tr>
                 {% endfor %}



               </table>

               <button type="button" class="btn btn-primary" data-action="add-product_measurment_form">{% trans 'Add Another' %}</button>
             </div>
            <div class="row">
              <div class="col-md-10">
                <div class="col-md-4">
                <h4 style="margin-left: 110px;">{% trans 'GRAND TOTAL' %}</h4>
                </div>
                <div class="col-md-8">
                <table class="table calculate" id="calculate_tr" style="border-top: 3px">
                  <tr>

                    <td><input type="text" name="total_kg" class="form-control" id="exit_total_kg" readonly="true" value="0"></td>
                    <td><input type="text" name="total_price" class="form-control" id="exit_total_price" readonly="true" value="0"></td>
                    <td><input type="text" name="kg_per_price" class="form-control" id="exit_kg_per_price" readonly="true" value="0"></td>
                    <td><input type="text" name="boxes" class="form-control" id="exit_boxes" readonly="true" value="0"></td>
                    <td><input type="text" name="kg_per_boxes" class="form-control" id="exit_kg_per_boxes" readonly="true" value="0"></td>
                    <td ></td>
                  </tr >
                </table>
              </div>
              </div>
            </div>

             <div class="row">
              <div class="col-md-5">
                <div class="form-group col-md-6">
                  <label>{% trans 'Cargo Sender' %}</label>
                  <div>
                    {{ form.cargo_sender }}
                  </div>
                </div> 
              <div class="form-group col-md-6">
                  <label>{% trans 'Reference' %}</label>
                  <div>
                    {{ form.cust_reference }}
                  </div>
                </div>
            </div>
            <div class="col-md-5 pull-right">
              <div class="form-group col-md-6">
                  <label>{% trans 'Fleje/Sello 1' %}</label>
                  <div>
                    {{ form.seal1 }}
                  </div>
                </div>
              <div class="form-group col-md-6">
                  <label>{% trans 'Fleje/Sello 2' %}</label>
                  <div>
                    {{ form.seal2 }}
                  </div>
                </div>
            </div>
            </div>

          </div>

          <div class="row">            
            <div class="form-group col-md-3">
              <label>{% trans 'Carrier' %}</label>
              <div>
                {{ form.carrier }}
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>{% trans 'Vehicle' %}</label>
              <div>
                {{ form.vehicle }}
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>{% trans 'Consignees' %}</label>
              <div>
                {{ form.consignee }}
              </div>
            </div>

            <div class="form-group col-md-3">
              <label for="license_plate">{% trans 'License Plates' %}</label>
              <input type="text" class="form-control" id="license_plate" name="license_plate" value="{{license_plate}}" required>
            </div>
          </div>

          <div class="row">  
            {% if request.user.is_authenticated and request.user.is_staff %}          
            <div class="form-group col-md-4">
              <label>&nbsp;</label>

              <input type="button" name="" value="{% trans 'VEHICLE INSPECTION' %}" class="btn btn-success" data-toggle="modal" data-target="#vehicle_inspection">
            </div>
            {% endif %}


          <div class="modal fade" id="vehicle_inspection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document" style="width: 1000px;">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">{%trans 'REVISION VEHICLE INSPECTION' %}</h4>
                </div>
                <div class="modal hide" id="vehicle_inspection">

                </div>
                <div class="modal-body" align="center">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">     

                      <table class="table">
                        <tr> 
                          <td></td>                        
                          <td><h4>{%  trans 'ABLE' %}</h4></td>
                          <td><h4>{%  trans 'NOT ABLE' %}</h4></td>
                          <td><h4>{% trans 'NO APPLIES' %}</h4></td>
                        </tr>                        
                        <tr>
                          <td><h4>{% trans 'Vehicle has Termograph' %}</h4></td>                          
                          <td colspan="3">{{form.vehicle_temograph}}</td>
                        </tr>

                        <tr>
                          <td><h4>{% trans 'Temperature °C' %}</h4></td>
                          <td colspan="3">{{form.temprature_cel}}</td>
                        </tr>

                        <tr>
                          <td><h4>{% trans 'Container Floor Status' %}</h4> <small>{% trans 'Clean No Stains, Odorless and No Humidity' %}</small></td>
                          <td colspan="3">{{form.cont_flr_sta}}</td>                        
                        </tr>

                        <tr>
                          <td><h4>{% trans 'Fasteners' %}</h4> <small>{% trans 'Mattress, Retentions Bars , Tensor, Stabilizing Bar' %}</small></td>

                          <td colspan="3">{{form.fasteners}}</td>
                        </tr>

                        <tr>
                          <td><h4>{% trans 'Inside The Container is in Good Condition' %}</h4> <small>{% trans 'Spike free,screws or other element that could damage the package' %}</small></td>
                       
                          <td colspan="3">{{form.container_clean}}</td>
                        </tr>

                        <tr>
                          <td><h4>{% trans 'Container Clean' %}</h4> <small>{% trans 'Floor, Roof, Walls' %}</small></td>
                          <td colspan="3">{{form.inside_container_good}}</td>                          

                        </tr>

                      </table>
                      
                       <div align="left">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                              <label for="notes">{% trans 'Name Of The Driver' %}</label>
                                {{form.driver_name}}
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="notes">F</label>
                                {{form.temp_front}}
                            </div>
                          </div> 
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="notes">M</label>
                                {{form.temp_middle}}
                            </div>
                          </div> 
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="notes">B</label>
                                {{form.temp_back}}
                            </div>
                          </div>  
                        </div>
                         <div class="row">
                          <div class="col-md-12">
                          <div class="form-group">
                            <label for="notes">{% trans 'Notes' %}</label>
                            <textarea class="form-control" name="notes">
                              {{object.notes}}
                            </textarea>
                          </div>
                        </div>
                          </div>
                           <div class="row">
                            <div class="col-md-12">
                          <div class="form-group">
                        <input type="checkbox" name="loading_availity" {% if object.loading_availity %} checked {% endif %} /> &nbsp;&nbsp;{% trans 'VEHICLE ABLE FOR LOADING/UNLOADING' %}
                      </div>
                    </div>
                      </div> 
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="row">
                        <div class="col-md-12">
                          <section class="wearhouse-digrame">
                            <div class="ck-bx-list">
                              <ul>
                                <li>
                                  <div class="c-ck-bx">
                                    <label class="check">
                                      <input type="checkbox" name="prente">
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="c-ck-bx">
                                    <label class="check ">
                                      <input type="checkbox"  name="lado_izquerdo">
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="c-ck-bx">
                                    <label class="check ">
                                      <input type="checkbox"  name="vista_inferior">
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="c-ck-bx">
                                    <label class="check ">
                                      <input type="checkbox"  name="puerta_tresera_deregha">
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="c-ck-bx">
                                    <label class="check ">
                                      <input type="checkbox"  name="duerta_tresera_inquiera">
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="c-ck-bx">
                                    <label class="check ">
                                      <input type="checkbox"  name="techa">
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="c-ck-bx">
                                    <label class="check ">
                                      <input type="checkbox"  name="puerta_referal">
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="c-ck-bx">
                                    <label class="check ">
                                      <input type="checkbox"  name="puerta">
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="c-ck-bx">
                                    <label class="check ">
                                      <input type="checkbox"  name="lado_denecha">
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </li>


                              </ul>
                            </div>

                            <figure class="wearhouse-digrame-img">
                              <img src="{% static 'theme/img/diagrame.jpg' %}">
                            </figure>

                          </section>
                        </div>
                      </div>
                    </div>
                  </div>

                  <input type="hidden" name="status" value="pending" id="id_status">
                 <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Save' %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                  </div>
                </div>              
              </div>
            </div>
          </div>


        </div>
          </form>
        </div>
      </div>
    </div>
<style type="text/css">
#id_cargo_type li {
  float: left;
padding: 24px;
list-style: none;

}
</style>
 <link rel="stylesheet" href="{%static 'custom/warehouse/css/warehouse-entrance.css' %}"> 
  {% endblock %}

  {% block scripts %}
  

  <script src="{% static 'theme/js/jquery.are-you-sure.min.js' %}"></script>
  <script src="{% static 'custom/warehouse/js/exit_detail.js' %}"></script>
  <script src="{% static 'theme/js/django-formset.js' %}"></script>
  <script type="text/javascript">
    var formset = $('tr[data-role="w-product-measurment-row"]').djangoFormset({
           on: {
               formAdded: function(event, form) {
                   console.log(form);
                   var position = form.elem.find('.whm_boxes').attr('name').replace ( /[^\d.]/g, '' );
                    form.elem.find('.w_product_measurment').select2()

               }
           }
       });
   $(".product_measurment_form_management_form").on('click', 'button[data-action=add-product_measurment_form]', function(event) {
       formset.addForm();
   });

   $(document).on('change', '.w_product_measurment', function(){
     $(this).closest('tr').find('.whm_p_description').val($(this).find("option:selected").attr('data-description'))
   })

    function checkDecimal(evt, item, lenBeforeDecimal, lenAfterDecimal) {
      var charCode = evt.which;

      var trimmed = $(item).val().replace(/\b^0+/g, "");
      if(checkStartsWith(trimmed, '.') == true){
        trimmed = '0' + trimmed;
      }  

      if(charCode == 8 || charCode == 9){
        return true;
      } 

      if(charCode == 46){
        var dotOccurrences = (trimmed.match(/\./g) || []).length;

        if(dotOccurrences != undefined && dotOccurrences == 1){
          return false;
        }else{
          return true;
        }
      }

      if (charCode > 31 && ((charCode < 48) || (charCode > 57))) {
        return false;
      }
      if ($(item).val() != trimmed){
        $(item).val(trimmed);}  

        if(trimmed.indexOf('.') == -1){
          if(trimmed.length >= parseInt(lenBeforeDecimal)){
            return false;
          }
        }else{
          var inputArr = trimmed.split(".");
          if(inputArr[0].length > parseInt(lenBeforeDecimal) || inputArr[1].length >= parseInt(lenAfterDecimal)){
            return false;
          }
        }

        return true;
      }
      function checkStartsWith(str, prefix){
        return str.indexOf(prefix) === 0;
      }
 
      
  $("[id$=image-clear_id]").css({'display': "none"})
  $("[id$=image-clear_id]").next().css({'display': "none"})
  $('form').areYouSure();


  $('#exit_date').datepicker({
     autoclose: false,
     format: 'yyyy-mm-dd',
  }).datepicker("setDate", new Date());

  $("#save_continue").click(function(){
    $("#id_save_continue").val(1)
    $("#sga-form-submit").trigger('click')
    if($('form').valid()){
      $('form').validate()
      $.LoadingOverlay("show");
    }
  })
</script>
{% block additional-custom-scripts %}
{% endblock %}
{% endblock %}

{% block sidebar-menu %}
{% include 'warehouse/sidebar.html' %}
{% endblock %}
