{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}

{% block content-header %}
<h1>
  <small>{% block header-subtitle %}{% endblock %}</small>
</h1>
<ol class="breadcrumb">
  <li><a href="{% url 'main-dashboard' %}"><i class="fa fa-dashboard"></i> {% trans 'Home' %}</a></li>
  <li><a href="{% url 'warehouse-entrances-list' %}">{% trans 'WAREHOUSE-ENTRANCE-APPOINTMENTS' %}</a></li>
  <li class="active">{{warehouseentrance.id}}</li>
</ol>
{% endblock %}



<a href="{% url 'packaging-list' %}"></a>

{% block content %}
<input type="hidden" name="" value="{{selected_product}}" id="id_selected_product">


<input type="hidden" name="" value="{{selected_pallet}}" id="id_selected_pallet">
<div class="parent-loader"></div>
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <input type="hidden" id="id_customer" data-name="{{object.customer}}" value="{{object.customer.id}}">
      <input type="hidden" name="" value="{{total_pallet_boxes | unlocalize}}" id="total_pallet_boxes">
      <input type="hidden" id="id_customer_barcoderead" data-barcoderead="{{object.customer.barcoderead}}" value="{{object.customer.barcoderead}}">
      <input type="hidden" name="" value="{{pallet_peso_variable |unlocalize }}" id="id_pallet_peso_variable">
      <input type="hidden" name="" value="{{active_total_kg |unlocalize }}" id="id_active_total_kg">

      <input type="hidden" name="" value="{{ total_pallet_ids }}" id="id_total_pallet_ids">

      <form id="sga-form" role="form" method="post" enctype="multipart/form-data">
        <div class="box-header with-border">
          <div class="row">
            <div class="col-md-8 pull-right">
              <div class="col-sm-3">
                

                <button type="button" class="btn btn-success single_send_to_maneuvers" {% if object.entrance_confirm_btn_disabled == True %}disabled="disabled"{%endif%}>{% trans 'Concluir Recibo' %}</button>
              </div>
              <div class="col-sm-3">
                <button type="submit" class="btn btn-primary" id="sga-entrance-form">{% trans 'Guardar y Salir' %}</button>
              </div>
              <div class="col-sm-2">
                <a href="/warehouse_entrance/entrances-list" class="btn  btn-default">{% trans 'Cancel' %}</a>
              </div>
            </div>
          </div>
        </div>

        {% csrf_token %}
        <div class="box-body">
          <input type="hidden" name="print_picking" value="0" id="print_picking_text">
          <input type="hidden" name="status" value="{{object.status}}" id="id_status">
          <input type="hidden" name="entrance_button_click" value="" id="id_entrance_button_click">
          <input type="hidden" name="id" value="{{object.id}}" id="warehouse_entrance_id">

        <div class="box-body">
          <div class="row">            
            {% include 'form-error.html' %}
            </div> 

            <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">{% trans 'WAREHOUSE ENTRANCE CONFIRMATION' %}
                  </h4>
                </div>    

                <div class="modal-body" >
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group td-group">
                        <label>{% trans 'Product Code' %}</label>
                        <br>
                        <select class="form-control select2" id="product_measurement_select_id">
                          {% with object.list_product as list_products %} 
                          <option value="">---------</option> 
                          {% for product_measure in list_products %}
                          <option value="{{product_measure.id}}"
                          data-product-id="{{product_measure.product.id}}"
                          data-product-code="{{product_measure.product}}"
                          data-product-description="{{product_measure.product_description}}"
                          data-barcode_to_use="{{product_measure.product.barcode_to_use}}"
                          data-packages_per_pallet="{{product_measure.product.packages_per_pallet}}"
                          data-net_weight="{{product_measure.product.net_weight|unlocalize}}"
                          data-gross_weight="{{product_measure.product.gross_weight|unlocalize}}"
                          data-price="{{product_measure.price | unlocalize}}"
                          data-kg_per_price="{{product_measure.kg_per_price | unlocalize}}"
                          data-boxes="{{product_measure.boxes | unlocalize}}"
                          data-control_total_boxes="{{product_measure.control_total_boxes | unlocalize}}"
                          data-kg_per_boxes="{{product_measure.kg_per_boxes | unlocalize}}"
                          data-variable_weight="{{product_measure.product.variable_weight}}"

                          data-total_kg="{{product_measure.total_kg | unlocalize}}"
                          >{{product_measure.product}}</option>
                          {% endfor %}
                          {% endwith %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class='form-group td-group'>
                        <label>{% trans 'Description' %}</label>
                        <input type="text" name="" class='form-control input-group product_description' readonly="true">
                      </div>
                    </div>
                    <div class="col-md-2 hide">
                      
                      <div class='form-group td-group'>
                        <label>{% trans 'Kg Totales' %}</label>
                        <input type="text" name="" class='form-control input-group total_kg' readonly="true">
                      </div>

                    </div>
                    <div class="col-md-2 hide">                      
                      <div class='form-group td-group'>
                        <label>{% trans 'Cajas' %}</label>
                        <input type="text" name="" class='form-control input-group boxes' readonly="true">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class='form-group td-group'>
                        <label>&nbsp;</label><br>
                        <button type="button" class="btn btn-primary new_pallet">{% trans 'Nueva Linea' %}</button>
                       </div>
                   </div>
                  </div>

                  </div>
                </div>
                <div class="row" id="single_pallet_detail">                                        
                </div> 

                <div id="empty_product_detail_form" class="hide">


                  <!-- <div class="row warehouseentranceconfirmation_set " data-role="w_entrance_confirmation_pallet_row___prefix__"> -->
                    <div class="row warehouseentranceconfirmation_set w_entrance_confirmation_pallet_row_details___prefix__" data-role="w_entrance_confirmation_pallet_row___prefix__">
                    {{w_entrance_confirmation_pallet.empty_form.id}}
                    {% for field in w_entrance_confirmation_pallet.empty_form %}

                    <div class="col-sm-1 form-group" style="width: 12.333333% !important">
                      {% if not field.is_hidden %}
                        {%if field.name == "w_product_measurement" %}
                          <div class="hide">
                          {{ field }}
                          </div>
                        {%else%}
                          {{ field.label_tag }}
                          {{ field }}
                        {% endif %}
                      {% endif %}
                    </div>
                    {% endfor %}                    

                  </div>
                </div>            

              </div>    


          <div class="modal fade" id="modal-sure-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog sure-confirmation">
              <div class="modal-content text-center">
                <div class="modal-body confirm-sure">
                  <p style="margin: 0 0 30px 0;">{% trans 'Do you wish to confirm the entrance of the selected products and location?' %}</p>

                  <button type="button" class="btn btn-primary" id="accept">{%trans 'Accept' %}</button>
                  <button type="button" class="btn btn-default" id="reject">{%trans 'Cancel' %}</button>

                </div>
              </div>
            </div>
          </div>


          <div class="modal fade" id="modal-error-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog error-confirmation">
              <div class="modal-content text-center">

                <div class="modal-body confirm-sure">
                  <p style="margin: 0 0 30px 0;">{% trans 'there are products with missing data and/or location definition , please check' %}</p>              

                  <button type="button" class="btn btn-default" data-dismiss="modal">{%trans 'Cancel' %}</button>

                </div>
              </div>
            </div>
          </div>
           

      </form>
    </div>
  </div>
</div>


</div>

<div id="single_pallet_save" class="modal fade" role="dialog"  aria-labelledby="myModalLabel"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content" style="
    border-radius: 6px;">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group td-group">
            <label for="notes">{% trans 'Product Code' %}</label>
            <select class="form-control" id="new_product_measurement_select_id">
              <option value="">------------</option>
              {% for product in product_lists %}
              <option value="{{product.id}}" 
              data-product-code="{{product.product_code}}"
              data-product-description="{{product.product_description}}"
              data-barcode_to_use="{{product.barcode_to_use}}"
              data-packages_per_pallet="{{product.packages_per_pallet}}"
              data-net_weight="{{product.net_weight|unlocalize}}"
              data-price="{{product.price | unlocalize}}"
              >{{product.product_code}}
            </option>
            {% endfor %}
          </select>
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="notes">{% trans 'Description' %}</label>
          <input type="text" class="form-control new_product_description" readonly="true">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="notes">{% trans 'Boxes' %}</label>
              <input type="number" class="new_total_boxes form-control" value="" step="1" onkeypress=" ValidateInteger(event);">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="notes">{% trans 'Total Kg' %}</label>
              <input type="text" class=" form-control new_total_kg"  onkeypress="return checkonlyDecimal(event, this, 5, 3);">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary new_pallet_measurement_save">{% trans 'Save' %}</button>

      <button type="button" class="btn btn-default barcode_scanner_cancle_button" data-dismiss="modal">{% trans 'Cancel' %}</button>
    </div>
  </div>

</div>
</div>
</div>

<div id="menuoveras_authorization_save" class="new_measurement_creation modal fade" role="dialog"  aria-labelledby="myModalLabel"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content text-center" style="
    border-radius: 6px;">
    <div class="modal-body">
      <div class="row">
        <h3>AUTORIZACIÓN REQUERIDA</h3>
        <h4>Se require autorización adicional para poder enviar ese pallet a maniobras.</h4>
        <h5>FAVOR DE INGRESAR AUTORIZACION DEL SUPERVISOR.</h5>
        <h5 style="color: red" class="product_error_code">El código de producto de error es: <span class="error_product_code"></span></h5>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="{% trans 'USER NAME' %}" name="username" id="id_menuobras_username" autocomplete="off" readonly="true" >
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          </div>
          <div class="input-group">
            <input type="password" class="form-control" placeholder="{% trans 'PASSWORD' %}" name="password" id="id_menuobras_password" autocomplete="off" readonly="true">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          </div>
          <button type="button" class="btn btn-primary menuobras_login_button">{% trans 'Save' %}</button>
          <button type="button" class="btn btn-primary new_messurment_login_button hide">{% trans 'Save' %}</button>

          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
        </form>

      </div>
    </div>

  </div>
</div>
</div>

{% endblock %}


{% block header-links %}
  <link rel="stylesheet" href="{%static 'custom/warehouse/css/warehouse-entrance.css' %}">
  <style type="text/css">
   .romaneo-confirm{
    z-index:99999 !important; 
   }
   .select2-container{
    width: 220px !important;
   }
  </style>
{% endblock %}


{% block scripts %}
  
  <script src="{% static 'theme/js/jquery.are-you-sure.min.js' %}"></script>
  <script src="{% static 'theme/js/django-formset.js' %}"></script>
  <script src="{% static 'custom/warehouse/js/entrance_detail.js' %}"></script>
  <script src="{% static 'custom/warehouse/js/download_pdf.js' %}"></script>
<script>

      

  status = $("#id_status").val()
  if(status == "InManeuvers" || status == "ManeuverComplete" || status == "finish" ){
    $(".new_pallet").addClass("hide")
    $(".single_send_to_maneuvers").addClass("hide")
    $("#sga-entrance-form").addClass("hide")
  }
  $("#product_measurement_select_id, #new_product_measurement_select_id").select2()
  $("#new_product_measurement_select_id").change(function(){
    description = $(this).find(":selected").data("product-description")
    $(".new_product_description").val(description)
  })
  $(".hide_field").parent().addClass('hide')
  load_products()
  var $romaneo_row = null;

  id_selected_product = $("#id_selected_product").val()
  if(id_selected_product !=""){
    $("#product_measurement_select_id").val(id_selected_product).trigger("change")
  }

  function load_count_boxes(){
     $(".row.warehouseentranceconfirmation_set").each(function(){
      
      var total_boxes_value=0
      var total_gross_value=0
      var total_net_value=0
       
      if($(this).find(".table-scroll .pallete_form_list .table-row:visible").length){

          $(this).find('.boxes').each(function(){
          if($(this).val()!=''){
            total_boxes_value += parseInt($(this).val())
          }
          
        })
        $(this).find('.total_boxes').val(total_boxes_value);
        $(this).find('.total_pallet_boxes').val(total_boxes_value);
        total_pallet = $(".pallete_form_list").find(".table-row").length
        
        $(this).find('.total_pallet').val(total_pallet);
        $(this).find('.table-scroll .gross_weight').each(function(){
          if($(this).val() == ''){
            $(this).val(0.0)
          }

          total_net_value += parseFloat($(this).val())
        })
        $(this).find('.total_net_weight').val(total_net_value.toFixed(3));
        $(this).find('.total_pallet_kg').val(total_net_value.toFixed(3));
        $(this).find('.table-scroll .gross_weight').each(function(){
          if($(this).val() == ''){
            $(this).val(0.0)
          }
          total_gross_value += parseFloat($(this).val())
        })
        $(this).find('.total_gross_weight').val(total_gross_value.toFixed(3));
        
        $(this).find('.table-row-total').removeClass("hide");
        
        }
      else
      {
          $(this).find('.table-row-total').addClass("hide");
      }

    
    });
  
}

  function addConfirmProduct(is_dual, position) {
    var selected= $('.warehouseentranceconfirmation_set[data-role="w_entrance_confirmation_pallet_row_{0}"]'.f(position))

    if(is_dual) {
      var id_form = $("#id_warehouseentranceconfirmation_set-TOTAL_FORMS");
      var form_idx = id_form.val();

      if(selected.length == 1)
      {
        $("#id_warehouseentranceconfirmation_set-{0}-id".f(position)).next().show()
        $("#id_warehouseentranceconfirmation_set-{0}-DELETE".f(position)).attr("checked", false)
        $("#id_warehouseentranceconfirmation_set-{0}-id".f(position)).show()
      }
      else{
        $('#entrance_product_detail').find(".form-group-list").append($('#empty_product_detail_form').html().replace(/__prefix__/g, position));

        measurement = $("tbody.partial_product tr.active_p").attr('data-measurement')

        $("#id_warehouseentranceconfirmation_set-{0}-w_product_measurement ".f(position)).closest('.warehouseentranceconfirmation_set').addClass("measurement_"+measurement)
        
        $("#id_warehouseentranceconfirmation_set-{0}-w_product_measurement".f(position)).val(measurement)
       
      }
      id_form.val(parseInt(form_idx) + 1);
    }
    else{

      var id_form = $("#id_warehouseentranceconfirmation_set-TOTAL_FORMS");
      var form_idx = id_form.val();
      if($("#id_warehouseentranceconfirmation_set-{0}-id".f(position)).val() == ''){
        id_form.val(parseInt(form_idx) - 1);
      }
      

      if(selected.length == 1){
        if($("#id_warehouseentranceconfirmation_set-{0}-id".f(position)).val() != ''){
          $("#id_warehouseentranceconfirmation_set-{0}-id".f(position)).next().hide()
          $("#id_warehouseentranceconfirmation_set-{0}-DELETE".f(position)).attr("checked", true)
          $("#id_warehouseentranceconfirmation_set-{0}-id".f(position)).hide()
        }
        else{
          selected.remove()
        }
      }

    }
    $('#id_warehouseentranceconfirmation_set-{0}-exp_date'.f(position)).datepicker({
      autoclose: false,
      format: 'yyyy-mm-dd',
    }).datepicker("setDate", new Date());
  }

  load_count_boxes()

  $(document).ready(function() {
    $("[id$=image-clear_id]").css({'display': "none"})
    $("[id$=image-clear_id]").next().css({'display': "none"})
    $('form').areYouSure();

    $('#entrance_date').datepicker({
      autoclose: false,
      format: 'yyyy-mm-dd',
    })

    $('.datepicker').datepicker({
      autoclose: false,
      format: 'yyyy-mm-dd',
    })
  });


$(document).on("click",".appDetails", function () {
    $("#pallet_warehouse").modal('show')
   var warehouse = $(this).closest('.row').find('.warehouse');
   var rack_number = $(this).closest('.row').find('.rack_number');
   var location = $(this).closest('.row').find('.location');   
});

$(document).on("click",".barcode_scanner", function () {
  $("#romanio_pallet_barcode").modal('show')
  localStorage.setItem("barcode_reader_codes", JSON.stringify([]))
  localStorage.setItem("barcode_weight_kg", JSON.stringify([]))
  var stored_datas = JSON.parse(localStorage["barcode_reader_codes"]);
  $(".barcode_total_read").val("")
  $(".barcode_reader").val("")
  $(".weight_count").val(0)
  $(".total_weight_kg_count").val(0)
  $(".barcode_reader").removeAttr("readonly")
  $(".barcode_scanner_submit").attr("disabled", "disabled")
});



$(document).on("keypress",".barcode_reader", function (e) {
  var key = e.which;
  console.log(key)
  if(key == 13) {
    var barcode_reader_val = $(this).val();
    
    if (barcode_reader_val.length <=23 ){
      alert("Ingrese el código de barras correcto.")
    }
    else{
      if (localStorage["barcode_reader_codes"]){

      }
      else{
        localStorage.setItem("barcode_reader_codes", JSON.stringify([]));
      }
      if (localStorage["barcode_weight_kg"]){
      }
      else{
        localStorage.setItem("barcode_weight_kg", JSON.stringify([]));
      }
      var stored_bar_code_reader = JSON.parse(localStorage.getItem("barcode_reader_codes"));
      var stored_bar_code_weight = JSON.parse(localStorage.getItem("barcode_weight_kg"));
      if (stored_bar_code_reader.includes(barcode_reader_val)){
        alert("El código de barras ya está escaneado")
      }
      else{
        stored_bar_code_reader.push(barcode_reader_val)

        localStorage.setItem("barcode_reader_codes", JSON.stringify(stored_bar_code_reader));
        local_storage_code_data = JSON.parse(localStorage.getItem("barcode_reader_codes")).toString()
        local_storage_code_data = local_storage_code_data.replace(/,+/g, '\n ') 
        $(".barcode_total_read").val(local_storage_code_data)
        weight_count = $(".weight_count").val()
        weight_count = parseInt(weight_count) + 1
        $(".weight_count").val(weight_count)
        product_bar_code = $("#product_measurement_select_id").find(":selected").data("barcode_to_use")
        
        var total_val = calculate_barcode_weight_val(barcode_reader_val, product_bar_code)
        stored_bar_code_weight.push(total_val)
        localStorage.setItem("barcode_weight_kg", JSON.stringify(stored_bar_code_weight));
        total_weight = eval(JSON.parse(localStorage["barcode_weight_kg"]).join("+"))
        total_weight = parseFloat(total_weight).toFixed(3)
        $(".total_weight_kg_count").val(total_weight)
        if($(".romaneo_peso_variable").length == parseInt(weight_count)){
          $(".barcode_reader").attr("readonly", true)
          $(".barcode_scanner_submit").removeAttr("disabled")
          alert("Todo el código de barras se escanea correctamente")
        }
        else{
          $(".barcode_reader").removeAttr("readonly")
          $(".barcode_scanner_submit").attr("disabled", "disabled")
        }
        }
      }
      $(".barcode_reader").val("")
      return false
    }
    

  })

$(document).on("click", ".barcode_scanner_submit", function(){
  barcode_weight_kg = JSON.parse(localStorage["barcode_weight_kg"])
  if (barcode_weight_kg.length > 0){
    $( ".romaneo_peso_variable" ).each(function( index ) {
      $(this).val(barcode_weight_kg[index])
    })
  }
  $("#romanio_pallet_barcode").modal("hide")
  localStorage.setItem("barcode_reader_codes", JSON.stringify([]));
  localStorage.setItem("barcode_weight_kg", JSON.stringify([]));
  $(".romaneo_peso_variable").blur()
})

$(document).on("click", ".barcode_scanner_cancle_button", function(){
  localStorage.setItem("barcode_reader_codes", JSON.stringify([]));
  localStorage.setItem("barcode_weight_kg", JSON.stringify([]));
})



$(document).on("blur change",".net_weight", function () {
  net_weight = parseFloat($(this).val())
  active_total_kg = parseFloat($(".partial_product").find('.active_p').find('.total_kg').text())
  if (net_weight > active_total_kg) {
    alert("Existen diferencias entre el peso del producto y la sumatoria de pesos del romaneo. Verifique")
    $(this).closest(".row.warehouseentranceconfirmation_set").find(".net_weight").each(function(){
      $(this).val(net_weight)
       // $(this).val($(this).attr("value"))
    })
    change_singlepallet_netweight($(this));
    // $(this).closest(".row.warehouseentranceconfirmation_set").find(".total_net_weight").val($(this).attr("value"))
  }
  else{
    change_singlepallet_netweight($(this));
  }
})

function change_singlepallet_netweight(e){
  total_net_wight1=0.0
    e.closest(".row.warehouseentranceconfirmation_set").find(".table-scroll .net_weight").each(function(){
      if($(this).val() == ''){
            $(this).val(0.0)
          }
      total_net_wight1 += parseFloat($(this).val())
    })
    e.closest(".row.warehouseentranceconfirmation_set").find(".total_net_weight").val(parseFloat(total_net_wight1))
}

$(document).on("blur change",".gross_weight", function () {
  gross_weight = parseFloat($(this).val())
  active_total_kg = parseFloat($(".partial_product").find('.active_p').find('.total_kg').text())
  if (gross_weight > active_total_kg) {
    alert("Existen diferencias entre el peso del producto y la sumatoria de pesos del romaneo. Verifique")
    
    $(this).closest(".row.warehouseentranceconfirmation_set").find(".gross_weight").each(function(){

      $(this).val(gross_weight)
    })
    change_singlepallet_grossweight($(this));
    // $(this).closest(".row.warehouseentranceconfirmation_set").find(".total_gross_weight").val($(this).attr("value"))
  }else{
    change_singlepallet_grossweight($(this));
  }
})

function change_singlepallet_grossweight(e){
  total_gross_weight_val=0.0
     
    e.closest(".warehouseentranceconfirmation_set").find(".table-scroll .gross_weight").each(function(){
      if($(this).val() == ''){
            $(this).val(0.0)
          }
      total_gross_weight_val +=parseFloat($(this).val())
    })

    e.closest(".warehouseentranceconfirmation_set").find(".total_gross_weight").val(parseFloat(total_gross_weight_val))
}

$(document).on("click",".romaneo", function () {
  $romaneo_row = $(this).closest('.table-row')
    $(".romaneo_clicked").removeClass('romaneo_clicked')
    $(this).addClass('romaneo_clicked')
    active_product = $("#product_measurement_select_id").find(":selected")
    product = active_product.data("product-id")
    var description = active_product.data("product-description")
    var code = active_product.data("product-code")
    var product_bar_code = active_product.data("barcode_to_use")
    
    
    palet_lot = $(this).closest('.row').find('.palet_lot').val()
    boxes = $(this).closest('.row').find('.boxes').val()
    exp_date = $(this).closest('.row').find('.exp_date').val()
    gross_weight = $(this).closest('.row').find('.gross_weight').val()
    net_weight = $(this).closest('.row').find('.net_weight').val()
    id_pallet = $(this).closest('.row').find(".id-pallet").attr('data-pallet-id')

  
    div_data = $( "<div class='loader-image'> <img src='{% static 'theme/img/loader.gif' %}' alt='loader'/ ></div> " )
    $(".loader-romaneo").append(div_data)
    $("#pallet_romaneo").modal('show')
    $(".romaneo_client").val($("#id_customer").attr('data-name'))
    $(".romaneo_product_code").val(code)
    $(".romaneo_product_description").val(description)
    $(".romaneo_lote_tarima").val(palet_lot)
    $(".romaneo_cajas").val(boxes)
    $(".romaneo_exit_date").val(exp_date)
    $(".romaneo_peso_bruto").val(parseFloat(gross_weight).toFixed(3))
    $(".romaneo_peso_neto").val(parseFloat(net_weight).toFixed(3))
    $(".romaneo_pallet_id").val(id_pallet)
    $(".romaneo_product_bar_code").val(product_bar_code)
    barcodes = ["bc_sasa", "BC_Yoreme", "BC_LaVeinte", "BC_Carnicos",
    "BC_GCM", "BC_Cicaba", "BC_Integra", "BC_Integra2", "BC_Bonacarne", "BC_Soles", "Codigo Ayvi"]
    id_customer_barcoderead = $("#id_customer_barcoderead").val()
    product_bar_code_exists = false
    if($.inArray(product_bar_code, barcodes) > -1)
    {
      product_bar_code_exists = true
    }
    if( id_customer_barcoderead == "True" && product_bar_code_exists){
      $(".barcode_scanner").removeClass("hide")
    }
    else{
      $(".barcode_scanner").addClass("hide")
    }
    jQuery.ajax( {
      url: "{% url 'get-pallet-peso-variable' 0 %}".replace('0', id_pallet),
      type: "GET",
      dataType: "json",
    } ).done( function( response )
    {
      $(".box_peso_veriable").find('.box_peso_veriable_apend').html('')
      console.log(response)
      peso_html=""
      romaneo_cajas_count = parseInt($(".romaneo_cajas").val());

      if (response.code == 200) {
        if(romaneo_cajas_count >= response.data.length){
          response.data.forEach(function(item){
            peso_html = "<div class='col-md-2'><div class='form-group'><input type='number' min='0' onkeypress='return checkafterthreeDecimal(event, this);' class='romaneo_peso_variable form-control' value="+ item.peso_variable_quantity +"  data-peso-variable="+ item.id +"></div></div>"+peso_html
          })
          
          remaining_cajas=romaneo_cajas_count-response.data.length
          for (i = 0; i < remaining_cajas; i++) { 
            peso_html = "<div class='col-md-2'><div class='form-group'><input type='number' min='0' onkeypress=' return checkafterthreeDecimal(event, this);' class='romaneo_peso_variable form-control' value='0.0' data-peso-variable=''></div></div>"+peso_html
          }  

         }
        else if(romaneo_cajas_count < response.data.length){
            peso_variables = response.data.slice(0, romaneo_cajas_count);
            peso_variables.forEach(function(item){
              peso_html = "<div class='col-md-2'><div class='form-group'><input type='number' min='0' onkeypress='return checkafterthreeDecimal(event, this);' class='romaneo_peso_variable form-control' value="+ item.peso_variable_quantity +"  data-peso-variable="+ item.id +"></div></div>"+peso_html
            })
          }

      }
      else{  
        for (i = 0; i < romaneo_cajas_count; i++) { 
          peso_html = "<div class='col-md-2'><div class='form-group'><input type='number' min='0' onkeypress=' return checkafterthreeDecimal(event, this);' class='romaneo_peso_variable form-control' value='0.0' data-peso-variable=''></div></div>"+peso_html
        }  
      }
      $(".box_peso_veriable").find('.box_peso_veriable_apend').append(peso_html)
      $('.romaneo_peso_variable:first').select();
      $('.romaneo_peso_variable:first').focus()

      total_values= 0
      $(".romaneo_peso_variable").each(function(){
        if($(this).val()==""){
          $(this).val(0)
        }
        total_values += parseFloat($(this).val()  )  
      })
      $(".romaneo_peso_neto").val(total_values.toFixed(3))
      $(".romaneo_peso_bruto").val(total_values.toFixed(3))
      $(".loader-romaneo").html('')
      
    })
});


function checkDecimal(evt, item, lenBeforeDecimal, lenAfterDecimal) {
  var charCode = evt.which;
 
  var trimmed = $(item).val().replace(/\b^0+/g, "");
  if(checkStartsWith(trimmed, '.') == true){
    trimmed = '0' + trimmed;
  }  
  
  if(charCode == 8 || charCode == 9){
    return true;
  } 

  if(charCode == 46){
    var dotOccurrences = (trimmed.match(/\./g) || []).length;
    
    if(dotOccurrences != undefined && dotOccurrences == 1){
      return false;
    }else{
      return true;
    }
  }
  
  if (charCode > 31 && ((charCode < 48) || (charCode > 57))) {
    return false;
  }
    if ($(item).val() != trimmed){
        $(item).val(trimmed);}  
  
  if(trimmed.indexOf('.') == -1){
    if(trimmed.length >= parseInt(lenBeforeDecimal)){
      return false;
    }
  }else{
    // GGV
    var inputArr = trimmed.split(".");
    // if(inputArr[1].length >= parseInt(lenAfterDecimal) && charCode != 13){
    //  $(item).val(0)
    //}
    //if(inputArr[0].length > parseInt(lenBeforeDecimal) || inputArr[1].length >= parseInt(lenAfterDecimal)){
    //   return false;
    //}
  }
  
  return true;
}
function checkStartsWith(str, prefix){
  return str.indexOf(prefix) === 0;
}

$(document).on("blur",".romaneo_peso_variable", function () {
  total_values= 0
  $(".romaneo_peso_variable").each(function(){
    if($(this).val()=="")
    {
      $(this).val(0)
    }
    total_values += parseFloat($(this).val())  
      })
  $(".romaneo_peso_neto").val(total_values.toFixed(3))
  $(".romaneo_peso_bruto").val(total_values.toFixed(3))

})


$(document).on("click",".romaneo_cancle", function () {
   $("#pallet_romaneo").modal('hide')
})


$(document).on("keypress",".romaneo_peso_variable", function (e) {
  if(e.which === 13){
    focus_input = $(this).parent().parent().next().find('input')
    if(focus_input.hasClass('romaneo_peso_variable')){
      focus_input.select();
      focus_input.focus()

    }
    else{
      $('.romaneo_peso_variable:first').select();
      $('.romaneo_peso_variable:first').focus()
    }
  }

})

$(document).on("keypress",".move_next", function (e) {
  if(e.which === 13){
    e.preventDefault();
    focus_input = $(this).parent().next().find('input')
    if(focus_input.length!= 0 && focus_input.hasClass('move_next')){

      focus_input.select();
      focus_input.focus()
    }
    else{
      $(this).parent().parent().find('.move_next:eq(1)').select();
      $(this).parent().parent().find('.move_next:eq(1)').focus()
    }
  }

})


function load_location(){
  $("#list_location").empty()

  warehouse = $("#warehouse_select_id").val()
  if(warehouse != '')
  {
    div_data = $( "<div class='loader-image'> <img src='{% static 'theme/img/loader.gif' %}' alt='loader'/ ></div> " )
    $(".loader-section").append(div_data)

    jQuery.ajax( {
      url: "{% url 'warehouse-location-detail' 0 %}".replace('0', warehouse),
      type: "GET",
      dataType: "json",
    } ).done( function( response )
    {
      $("#list_location").append(response.warehouse)
      $(".loader-section").html('')
    })
  }

}

function set_status(value){
  localStorage.removeItem('entrance_id')
  localStorage.removeItem('data_role')
  $(".validation-error").removeClass('validation-error')
  if(value != 'Guardar'){
    var error = false;
    var error_data = false;
    $("#entrance_product_detail").find(".warehouseentranceconfirmation_set:visible").each(function(){ 
      $(this).find(".skip_validation").each(function(){  
        if($(this).val() == ''){
          $(this).addClass('validation-error')
          error = true;
        }
      })

    })
    if(error){
      
      alert("{% trans 'Please fill all details of product code ' %}"+ String($(".partial_product").find('.active_p .product_code p').text()))
    }
    else
    {      
      $(".pallete_form_list .required-field").each(function(){
        if($(this).val()== ''){
          $(this).addClass('validation-error')
          error_data = true
          
        }  

      $(".pallete_form_list .gross_weight").each(function(){
        if(parseFloat($(this).val())<= 0){
          $(this).addClass('validation-error')
          error_data = true          
        }        
      });

      $(".pallete_form_list .net_weight").each(function(){
        if(parseFloat($(this).val())<= 0){
          $(this).addClass('validation-error')
          error_data = true
          
        }        
      });

      });
    }

    if(error_data == false && error == false){
      return true
   }
   else{
     return false
   
     }
  }

}

$(".pallet_required_boxes").blur(function(){
  
  var kg_per_box = parseFloat($(".partial_product").find("tr.active_p").find(".kg_per_boxes").text())
  if(isNaN(kg_per_box) != true){
      box_kg = parseFloat(kg_per_box * parseFloat($(this).val())).toFixed(3)
      $(this).parent().next().find('input').val(box_kg)
    }
  
})


$("#accept").click(function(){
  $("#id_status").val("finish")
  $("#id_entrance_button_click").val("true")
  $.LoadingOverlay("show");

  var xhr = new XMLHttpRequest();
  xhr.open("POST", ""); 
  xhr.responseType= 'blob';
  xhr.onload = function(event){ 
      $.LoadingOverlay("hide");
      download_pdf(event.target.response, "Entrada_{{object.id}}_"+new Date().toLocaleDateString()+".pdf")
      window.location = '/warehouse_entrance/warehouse-entrances-list';
  }; 
  // or onerror, onabort
  var formData = new FormData(document.getElementById("sga-form")); 
  xhr.send(formData);

})

$("#reject").click(function(){
  $("#id_entrance_button_click").val("true")
  $("#sga-form").submit();
})
$("#sga-entrance-form").click(function(e){
  e.preventDefault()
  $("#id_status").val("in_receipt")
  $("#id_entrance_button_click").val("true")
  
  $( "#sga-form" ).submit();
})
$("#confirm_button").click(function(){
  confirmation = set_status('CONFIRM ENTRANCE')
  if(confirmation){
     $('#modal-sure-confirm').modal('show');                  
   }
   else
   {
     $('#modal-error-confirm').modal('show');
   
   }
})

$(".appDetails").click(function(){
  $(".appDetails").removeClass('active')
  $(this).addClass('active')
})
// disabled button if pallet not completed
// setInterval(function(){
  check_pallet_status()
// }, 100)
function check_pallet_status(){
  var mark_disabled = false;
  $("#entrance_product_detail").find(".form-group-list").find(".warehouseentranceconfirmation_set").each(function(){
    
    $(this).find(".table-scroll").find('.pallete_form_list').find(".table-row").each(function(){
      if($(this).find(".location option:selected").val() == undefined || $(this).find(".location option:selected").val() == ""){
        mark_disabled = true
      }
    })
  })
  var current_status = "{{object.status}}";
  $(".send_to_maneuvers").prop('disabled', mark_disabled)
  $("#confirm_button").prop('disabled', true)
  if(current_status == "ManeuverComplete"){
    $("#confirm_button").prop('disabled', false)
  }

  if(current_status == "InManeuvers"){
    $(".send_to_maneuvers").prop('disabled', true)
  }
}

$(document).ready(function(){
  localStorage.removeItem('entrance_id')
  localStorage.removeItem('data_role')
})

$(".cancle_button").click(function(){
  $("#entrance_confirmation_modal").modal('hide')
})

$(document).on("blur",".pallete_form_list .retained_quantity", function () {
  box_value = $(this).parent().parent().find('.boxes').val()
  if(parseInt(box_value) < parseInt($(this).val())){
    alert("Qauntity retenida no debe ser mayor que la cantidad de caja")
    $(this).val(0)
  }
})

$("#warehouse-catalogs .entrace").addClass('active')

$(".single_send_to_maneuvers").click(function(){  
  $("#id_entrance_button_click").val("true")
  // $("#sga-form" ).submit()
  entrance_id = $("#warehouse_entrance_id").val()
  
  jQuery.ajax( {
      url: "{% url 'compare-box-total-kg' 0 %}".replace('0', entrance_id),
      type: "GET",
      dataType: "json",
    } ).done( function( response ){
      if(response.authorizable == true){
        $('#id_menuobras_username').removeAttr("readonly");
        $('#id_menuobras_password').removeAttr("readonly");
        product_code = response.product_code
        $(".error_product_code").html(product_code)
        $("#menuoveras_authorization_save").modal("show")
      }
      else{
        $("#id_status").val("InManeuvers")
        $("#sga-form" ).submit()
      }
    })

  $(".menuobras_login_button").click(function(){
    var username = $.trim($('#id_menuobras_username').val());
    var password = $.trim($('#id_menuobras_password').val());
    $.ajax({
      url : "/menuover_login_validation/",
      type : "post",
      data : {
        username: username,
        password : password
      }
    }).done(function(data) {
      if (data == "fine") {
        $("#id_menuover_clicked").val("true")
        $("#id_status").val("InManeuvers")
        $("#sga-form" ).submit()
      }
      else{
        alert("Correo electrónico o contraseña o inválida")
      }
    });
  })
  // var active_total_kgs = $("#id_active_total_kg").val()
  // var product_total_weight = $("#id_pallet_peso_variable").val()
  // var total_pallet_ids = JSON.parse( $("#id_total_pallet_ids").val())
 
  // var loopInt=setInterval(function(){
  //     clearInterval(loopInt);
  //     console.log('product_total_weight =>',product_total_weight)
  //     if(product_total_weight !=0 && active_total_kgs != product_total_weight){
  //     var question = 'El peso del romaneo: '+product_total_weight+' es diferente al peso esperado del producto: '+active_total_kgs+', Desea utilizar el peso del romaneo en lugar del peso del producto?';
  //     var confirmModal = $('#modal-romaneo-confirm')
  //     confirmModal.modal('show')
  //     confirmModal.find('.sure-confirmation').find('p').text(question)
  //     confirmModal.find('#romaneo-yes').unbind().click(function(event) {
  //         $.post("/warehouse_entrance/save-romaneo-weights", {pallet_ids: JSON.stringify(total_pallet_ids)},function( response , status)
  //             {
  //               confirmModal.modal('hide')
  //               $("#id_status").val("InManeuvers")
  //               $("#id_entrance_button_click").val("true")
  //               $("#sga-form" ).submit()
  //             })

  //     });

  //     confirmModal.find('#romaneo-No').unbind().click(function(event) {
  //        confirmModal.modal('hide')
  //     });

  //   }
  //   else
  //     {
  //       $("#id_status").val("InManeuvers")
  //       $("#id_entrance_button_click").val("true")
  //       $("#sga-form" ).submit()
  //     }
    
  // },200)
})

  $(".new_messurment_login_button").click(function(){
    var username = $.trim($('#id_menuobras_username').val());
    var password = $.trim($('#id_menuobras_password').val());
    $.ajax({
      url : "/menuover_login_validation/",
      type : "post",
      data : {
        username: username,
        password : password
      }
    }).done(function(data) {
      if (data == "fine") {
        debugger
            measurement_id = $("#product_measurement_select_id").find(":selected").val()
    prod_code = $("#product_measurement_select_id").find(":selected").attr("data-product-code")
    prod_desc = $("#product_measurement_select_id").find(":selected").attr("data-product-description")
    total_boxes = $("#product_measurement_select_id").find(":selected").attr("data-boxes")
    total_kg = $("#product_measurement_select_id").find(":selected").attr("data-total_kg")
    $(".new_product_code").val(prod_code)
    $(".new_product_description").val(prod_desc)
    // $(".new_total_boxes").val(total_boxes)
    // $(".new_total_kg").val(total_kg)
    $(".new_measurement_creation").modal("hide")
    $("#id_menuobras_username").attr("readonly", "true")
    $("#id_menuobras_password").attr("readonly", "true")
    $("#single_pallet_save").modal("show")
      }
      else{
        alert("Correo electrónico o contraseña o inválida")
      }
    });
  })

</script>


{% block additional-custom-scripts %}
{% include 'warehouse/warehouse_entrance/sidebar.html' %}
{% endblock %}
{% endblock %}

