{% extends 'list.html' %}
{% load staticfiles %}
{% load i18n %}

{% block header-title %}{% trans 'Product Families' %}{% endblock %}
{% block breadcrumb-specific %}{% trans 'Product Families' %}{% endblock %}

{% block create-url %}{% url 'productfamily-create' %}{% endblock %}

{% block list-header-columns %}
{{ block.super }}
{% endblock %}

{% block list-items %}
{% for productfamily in productfamily_list %}
    <tr>
        <td>{{ productfamily.code }}</td>
        <td>{{ productfamily.description }}</td>
        <td>
            <a role="button" href="{% url 'productfamily-detail' productfamily.id %}"
               class="btn btn-success"><i class="fa fa-edit"></i></a>
            {%if productfamily.can_delete%}
              <a role="button" href="javascript:void(0)"
               class="btn btn-danger" onclick="alert('El registro esta siendo utilizado por el Sistema y no puede ser eliminado. Verifique por favor.')"> <i
                    class="fa fa-close"></i></a>
              {%else%}
            <a role="button" href="{% url 'productfamily-delete' productfamily.id %}"
               class="btn btn-danger btn-delete"
               data-confirm="{% trans 'Are you sure to delete this item?' %}"><i
                    class="fa fa-close"></i></a>
                    {%endif%}
        </td>
    </tr>
{% endfor %}
{% endblock %}

{% block list-footer-columns %}
{{ block.super }}
{% endblock %}

{% block sidebar-menu %}
{% include 'catalogs/sidebar.html' %}
{% include 'catalogs/product_family/sidebar.html' %}
{% endblock %}
