{% extends 'form-new.html' %}
{% load staticfiles %}
{% load i18n %}

{# Content header #}
{% block header-title %}{% trans 'Clients' %}{% endblock %}
{% block breadcrumb-category %}{% trans 'Clients' %}{% endblock %}
{% block breadcrumb-category-url %}{% url 'client-list' %}{% endblock %}
{% block breadcrumb-specific %}{{ block.super }}{% endblock %}

{# Content block #}
{% block form-box-title %}{% trans 'Client' %}{% endblock %}

{% block form-fields-col-width %}
<div class="col-md-12">
{% endblock %}

{% block form-fields %}
     <div class="row">
        <div class="form-group col-md-4">
            <label for="clientCode">{% trans 'Contraseña Actual' %}</label>
            <input type="password" name="current_password" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label for="clientCode">{% trans 'Contraseña Nueva' %}</label>
            <input type="password" name="password" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label for="clientCode">{% trans 'Confirm Password' %}</label>
             <input type="password" name="confirm_password" class="form-control">
        </div>
    </div>
    


{% endblock %}

{# Cancel URL #}
{% block cancel-url %}{% url 'client-list' %}{% endblock %}

{% block sidebar-menu %}
{% include 'catalogs/client/sidebar.html' %}
{% endblock %}
